{% extends 'base.html.twig' %}

{% block title %}Création d'un nouvel article{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel article</h1>
    {{ include('components/_formArticle.html.twig') }}
{% endblock %}