{% extends 'base.html.twig' %}

{% block title %}Suppression d'un article{% endblock %}

{% block body %}
    <h1>Supprimer cet article ?</h1>
    {{ include('components/_formArticle.html.twig') }}
{% endblock %}