{% extends 'base.html.twig' %}

{% block title %}Modification de l'article{% endblock %}

{% block body %}
    <h1>Modifier un article</h1>
    {{ include('components/_formArticle.html.twig') }}
{% endblock %}