
<body>
    {#
    <h2>{{article.title}}</h2>
    <div>
        <div>
            {{article.content}}
        </div>
        <div>
            {{article.picture}}
        </div>
    </div>
    <div>
        {{article.user}}
    </div>
    #}
</body>