<body>
    {#
    <h2>{{Events.title}}</h2>
    <div>
        <div>
            {{Events.content}}
        </div>
        <div>
            {{Events.picture}}
        </div>
    </div>
    <div>
        {{Events.user}}
    </div>
    #}
</body>