{% extends 'base.html.twig' %}

{% block title %}Liste des évènements{% endblock %}

{% block body %}
<h1>Liste des événements</h1>
    {% for event in events %}
    {{ include('components/_event.html.twig') }}
    {% endfor %}
{% endblock %}